@page "/"

<h1>Hello, world!</h1>

@*
<label>Enter Item</label>
<input type="text" @bind="todoText" />
<button @onclick="AddItem">Add Item</button>
<br />
<br />
<label><b>Collection Item:</b></label>
<br />

@foreach (Todo td in myCollection)
{
    <label>@td.todoText</label>
    if(td.IsComplected)
    {
        <button @onclick="()=>td.IsComplected=false">Completed</button>
    }
    else
    {
        <button @onclick="()=>td.IsComplected=true">Pending</button>
    }
    <br/>
}   

<br />
<button @onclick="ClearCollection">Clear</button>
<button @onclick="RemoveLast">Remove Last</button>

@code {
    string todoText;
    Todo todoItem;
    List<Todo> myCollection = new List<Todo>();
    public void AddItem()
    {
        todoItem = new Todo();
        if (todoText == "" || todoText == null) return;
        myCollection.Add(todoItem);
        todoItem.todoText = todoText;
        todoText = "";
    }

    public void ClearCollection()
    {
        myCollection.Clear();
    }

    public void RemoveLast()
    {
        myCollection.RemoveAt(myCollection.Count - 1);
    }
}*@

<Login />


