@page "/login"


<h3>login</h3>
<label>Email: </label>
<input type="email" @bind=email/>
<br/>
<br />

<label>Password: </label>
<input type="password" @bind=password/>
<br/>
<br />
<button @onclick=OnLoginClicked>Login</button>
<br/>
<label>@logText</label>


@code {
    string email;
    string password;
    string logText;
    private void OnLoginClicked()
    {
        if (email == "" || password == "") return;
        if (email =="admin@gmail.com" && password =="admin")
        {
            //show login success indication
            AppState.IsLoggedIn = true;
            //logText = "login success";
            NavManager.NavigateTo("/");
        }
        else
        {
            //show login failed indication
            logText = "invalid login details";
            AppState.IsLoggedIn = false;
        }
    }


}
