@page "/login"


<h3>login</h3>
<label>Email: </label>
<input type="email" @bind=email/>
<br/>
<br />

<label>Password: </label>
<input type="password" @bind=password/>
<br/>
<br />
<button @onclick=OnLoginClicked>Login</button>
<br/>
<a href="/registration" target="_self">Register</a>
<label>@logText</label>

@code {
    string email;
    string password;
    string logText;
    private void OnLoginClicked()
    {
        if (email == "" || password == "") return;
        //fetch all users fro file and check login details for match
        UserSerivices.GetAllUsers();
        foreach(User u in UserSerivices.UserCol.Users)
        {
            if (email == u.Email && password == u.Password)
            {
                //show login success indication
                AppState.IsLoggedIn = true;
                //logText = "login success";
                NavManager.NavigateTo("/");
                return;
            }
        }
        //if (email =="admin@gmail.com" && password =="admin")
        //{
        //    //show login success indication
        //    AppState.IsLoggedIn = true;
        //    //logText = "login success";
        //    NavManager.NavigateTo("/");
        //}
        //else


        {
            //show login failed indication
            logText = "invalid login details";
            AppState.IsLoggedIn = false;
        }
    }
}
