@page "/Users"

<h3>users</h3>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Addresss</th>
        </tr>
    </thead>
</table>



@code {

}
