@page "/Users"

<h3>users</h3>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Addresss</th>
        </tr>
    </thead>
</table>

<div>
    <button class ="btn-primary" style ="position:absolute; right:10px">
        <span class="oi oi-plus" aria-hidden="true"></span>Add
    </button>
</div>

@code {

}
